// Your custom styles

/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; }

/* Navbar animation */
.navbar {
  background-color: #148c8d; }

.top-nav-collapse {
  background-color: #148c8d; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #148c8d; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #148c8d; }
